---
import { isString } from "@yamada-ui/utils"
import { getTranslations } from "../../i18n/utils"
import SchoolHistory from "./school-history.astro"
import Accordion from "./accordion.astro"

const { lang } = Astro.props

const { heading, briefIntro } = getTranslations(lang)
---

<div class="space-y-4">
  <h2 class="text-4xl font-bold">{heading.briefIntro.title}</h2>
  <ul class="list-inside list-disc space-y-2">
    <li>{briefIntro.born}</li>
    <li>{briefIntro.age}</li>
    <li>{briefIntro["high school"]}</li>
    <li>
      {briefIntro.university}
      <ul class="mt-2 list-inside list-[circle] pl-6">
        <li>{briefIntro["bachelor"]}</li>
      </ul>
    </li>
    <li>
      <Accordion id="schools-accordion" label={briefIntro.drawer.schools.title}>
        <p>{briefIntro.drawer.schools.description}</p>
        <SchoolHistory lang={lang} />
      </Accordion>
    </li>
  </ul>
  <h3 class="text-3xl font-bold">{heading.briefIntro.livedIn}</h3>
  <ul class="list-inside list-disc space-y-2">
    <li>{briefIntro["lived in"].japan}</li>
    <li>{briefIntro["lived in"].philippines}</li>
    <li>{briefIntro["lived in"].newzealand}</li>
  </ul>
  <h3 class="text-3xl font-bold">{heading.briefIntro.hobbies}</h3>
  <ul class="list-inside list-disc space-y-2">
    {
      Object.entries(briefIntro.hobbies).map(([_, hobby]) => {
        if (isString(hobby)) return <li>{hobby}</li>

        const title = hobby.title ?? hobby
        if ("drawer" in hobby && hobby.drawer)
          return (
            <li>
              <Accordion label={title} id={`${title}-accordion`} checked={true}>
                {hobby.description ? <p>{hobby.description}</p> : null}
                {hobby.video ? (
                  <iframe
                    width="315"
                    height="560"
                    loading="lazy"
                    src={hobby.video}
                    title={title}
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen
                  />
                ) : null}
              </Accordion>
            </li>
          )

        return <li>{title}</li>
      })
    }
  </ul>
  <h3 class="text-3xl font-bold">{heading.briefIntro.partTimeJob}</h3>
  <ul class="list-inside list-disc space-y-2">
    <li>{briefIntro["part time job"].westlake}</li>
  </ul>
</div>
