---
// Assuming the `getTranslations` function and `education` data structure are similar to the previous context
import { getTranslations } from "../../i18n/utils"
import Tooltip from "./detail-tooltip.astro"
import { cn } from "utils/cn.astro"

const { lang } = Astro.props
const { education } = getTranslations(lang)
---

<div class="w-[min(50rem,85vw,100%)] overflow-x-auto">
  <table>
    <thead class="bg-gray-200 dark:bg-gray-700">
      <tr>
        <th class="rounded-tl-lg p-2">
          {education.headings.period}
        </th>
        <th>
          {education.headings.schoolName}
        </th>
        <th class="rounded-tr-lg">
          {education.headings.location}
        </th>
      </tr>
    </thead>
    <tbody>
      {
        education.schools.map((school, index) => (
          <tr
            class={cn(
              "text-[1rem]",
              index % 2 === 0
                ? "bg-gray-100 dark:bg-gray-800"
                : "bg-gray-200 dark:bg-gray-700",
            )}
          >
            <td
              class={cn("text-nowrap px-2 py-1", {
                "rounded-bl-lg": index === education.schools.length - 1,
              })}
            >
              <Tooltip
                text={school.duration}
                tooltip={`${school.start} - ${school.end}`}
                float="right"
              />
            </td>
            <td class="text-nowrap px-2 py-1">
              <Tooltip text={school.name} tooltip={school.grade} />
            </td>
            <td
              class={cn("text-nowrap px-2 py-1", {
                "rounded-br-lg": index === education.schools.length - 1,
              })}
            >
              <Tooltip
                text={school.location.country}
                tooltip={school.location.region}
              />
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
