---
import ChatIcon from "../../../icons/chat.astro"
import Connect4Icon from "../../../icons/connect-4.astro"
import FacebookIcon from "../../../icons/facebook.astro"
import GitHubIcon from "../../../icons/github.astro"
import HatenaIcon from "../../../icons/hatena.astro"
import InstagramIcon from "../../../icons/instagram.astro"
import KeyboardIcon from "../../../icons/keyboard.astro"
import LinkedInIcon from "../../../icons/linkedin.astro"
import NoteIcon from "../../../icons/note.astro"
import SearchIcon from "../../../icons/search.astro"
import TwitterIcon from "../../../icons/twitter.astro"
import UniversityIcon from "../../../icons/university.astro"
import YouTubeIcon from "../../../icons/youtube.astro"

const { lang, items } = Astro.props
---

<a
  class="text-md flex w-fit items-center justify-start gap-2 text-nowrap rounded-md bg-zinc-100 px-4 py-2 font-semibold text-gray-700 transition-colors duration-300 hover:bg-blue-300 hover:text-gray-700 sm:w-full dark:bg-zinc-950 dark:text-gray-300 dark:hover:bg-sky-900 dark:hover:text-gray-300"
  href={items.link}
  target="_blank"
  title={items.title[lang]}
>
  {
    items.icon.component === "ChatIcon" ? (
      <ChatIcon class:list={["text-xl"]} color={items.icon.props.color} />
    ) : items.icon.component === "Connect4Icon" ? (
      <Connect4Icon class:list={["text-xl"]} color={items.icon.props.color} />
    ) : items.icon.component === "KeyboardIcon" ? (
      <KeyboardIcon class:list={["text-xl"]} color={items.icon.props.color} />
    ) : items.icon.component === "SearchIcon" ? (
      <SearchIcon class:list={["text-xl"]} color={items.icon.props.color} />
    ) : items.icon.component === "UniversityIcon" ? (
      <UniversityIcon class:list={["text-xl"]} color={items.icon.props.color} />
    ) : items.icon.component === "TwitterIcon" ? (
      <TwitterIcon class:list={["text-xl"]} color={items.icon.props.color} />
    ) : items.icon.component === "GitHubIcon" ? (
      <GitHubIcon class:list={["text-xl"]} />
    ) : items.icon.component === "YouTubeIcon" ? (
      <YouTubeIcon class:list={["text-xl"]} color={items.icon.props.color} />
    ) : items.icon.component === "LinkedInIcon" ? (
      <LinkedInIcon class:list={["text-xl"]} color={items.icon.props.color} />
    ) : items.icon.component === "InstagramIcon" ? (
      <InstagramIcon class:list={["text-xl"]} color={items.icon.props.color} />
    ) : items.icon.component === "FacebookIcon" ? (
      <FacebookIcon class:list={["text-xl"]} color={items.icon.props.color} />
    ) : items.icon.component === "HatenaIcon" ? (
      <HatenaIcon class:list={["text-xl"]} />
    ) : items.icon.component === "NoteIcon" ? (
      <NoteIcon />
    ) : null
  }
  <span>{items.title[lang]}</span>
</a>
