---
import { getTranslations } from "../../../i18n/utils"
import ProjectCard from "./project-card.astro"
import { projectsArray } from "./projects-array.astro"
import Hamburger from "../../../components/hamburger/three.astro"
import { cn } from "utils/cn.astro"

const { lang } = Astro.props

const { heading } = getTranslations(lang)
const projects = projectsArray(lang)
const techs = [
  ...new Set(
    projects.flatMap((project) => [project.framework, project.lang]).flat(),
  ),
]
---

<section class="group">
  <h3 class="text-3xl font-bold">{heading.programming.projects}</h3>
  <div
    class="sticky top-20 z-10 mx-auto my-4 flex w-fit max-w-[calc(100vw-2rem)] rounded-md bg-gray-200/95 backdrop-blur-sm sm:top-16 dark:bg-black/95"
  >
    <form class="flex overflow-x-auto text-sm">
      <fieldset
        class={cn(
          "flex gap-2 p-2 place-self-center",
          "group-has-[#project-sorter:checked]:flex-wrap",
          "group-has-[#project-sorter:checked]:overflow-hidden",
        )}
      >
        <div
          class="flex text-nowrap rounded-md transition-colors duration-300 hover:bg-blue-700 has-[input:checked]:bg-blue-200 dark:hover:bg-blue-700 has-[input:checked]:dark:bg-blue-700"
        >
          <input
            class="sr-only"
            id="all"
            type="radio"
            name="tech"
            value="all"
            checked
          />
          <label for="all" class="cursor-pointer px-4 py-2"
            >{lang === "en" ? "All" : "全て"}</label
          >
        </div>
        {
          techs.map((tech) => (
            <div class="flex place-items-center text-nowrap rounded-md transition-colors duration-300 hover:bg-blue-700 has-[input:checked]:bg-blue-200 dark:hover:bg-blue-700 has-[input:checked]:dark:bg-blue-700">
              <input
                id={tech}
                type="radio"
                name="tech"
                class="peer sr-only"
                value={tech.toLowerCase().replace(/\./g, "").replace(/#/g, "s")}
              />
              <label for={tech} title={tech} class="cursor-pointer px-4 py-2">
                {tech}
              </label>
            </div>
          ))
        }
      </fieldset>
    </form>
    <form class="h-14 w-14 sm:hidden">
      <input
        id="project-sorter"
        class="peer sr-only"
        type="checkbox"
        name="project-sorter"
      />
      <label
        class="m-2 flex h-10 w-10 cursor-pointer flex-col items-center justify-center rounded-full p-2"
        for="project-sorter"
        title="Open mobile menu"
      >
        <div
          class=`absolute z-50 h-[0.1rem] w-6 bg-gray-500 transition-transform duration-300 group-[&:not(:has(#project-sorter:checked))]:-translate-y-2 group-has-[#project-sorter:checked]:rotate-45`
        >
        </div>
        <div
          class=`absolute z-50 h-[0.1rem] w-6 bg-gray-500 transition-[transform,opacity] duration-300 group-has-[#project-sorter:checked]:translate-x-3 group-has-[#project-sorter:checked]:opacity-0`
        >
        </div>
        <div
          class=`absolute z-50 h-[0.1rem] w-6 bg-gray-500 transition-transform duration-300 group-[&:not(:has(#project-sorter:checked))]:translate-y-2 group-has-[#project-sorter:checked]:-rotate-45`
        >
        </div>
      </label>
    </form>
  </div>
  <div class="columns-1 gap-4 space-y-4 sm:columns-2 lg:columns-3">
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</section>
