---
import { Image } from "astro:assets"
import GithubIcon from "../../../icons/github.astro"
import { generateSizesAndWidths } from "../../../utils/image"
import ContentDivider from "components/divider/content-divider.astro"
import "./card.css"

const { project } = Astro.props

const framework = project.framework.join(" / ")
const lang = project.lang.join(" / ")

const frameworkClasses = project.framework
  .join(" ")
  .toLowerCase()
  .replace(/\./g, "")
const langClasses = project.lang
  .join(" ")
  .toLowerCase()
  .replace(/\./g, "")
  .replace(/#/g, "s")
---

<div
  class:list={[
    "mb-4 flex overflow-clip rounded-md text-sm outline outline-0 outline-zinc-200 dark:bg-zinc-950 dark:outline-zinc-800",
    "hide-delayed invisible h-fit max-h-0 w-full max-w-0 break-inside-avoid flex-col opacity-0 transition-[max-height,max-width,opacity,visibility] duration-700",
    'group-has-[input[value="all"]:checked]:visible',
    'group-has-[input[value="all"]:checked]:max-h-[40rem]',
    'group-has-[input[value="all"]:checked]:max-w-[40rem]',
    'group-has-[input[value="all"]:checked]:outline-1',
    'group-has-[input[value="all"]:checked]:opacity-100',
    frameworkClasses,
    langClasses,
  ]}
>
  <div>
    <Image
      src={project.thumbnail}
      alt={project.description}
      loading="lazy"
      {...generateSizesAndWidths(
        project.thumbnail.width,
        project.thumbnail.height,
      )}
    />
  </div>
  <div class="flex flex-col gap-2 p-4">
    <a
      href={project.link}
      target="_blank"
      rel="noopener noreferrer"
      class="text-xl font-semibold text-blue-600 hover:underline"
    >
      {project.title}
    </a>
    <p>{project.description}</p>
  </div>
  <ContentDivider />
  <div class="flex flex-row items-center justify-between px-4">
    <div class="flex flex-row items-center gap-2">
      <p>{lang}</p>
      <hr class="my-2 h-6 w-[1px] border-none bg-gray-300 dark:bg-gray-700" />
      <p>{framework}</p>
    </div>
    <a
      href={project.githubLink}
      target="_blank"
      rel="noopener noreferrer"
      title="GitHub"
      class="my-2 rounded-md p-2 transition-colors duration-300 hover:bg-zinc-100 dark:hover:bg-zinc-800"
    >
      <GithubIcon size="1.5rem" />
    </a>
  </div>
</div>
