---
import { Image } from "astro:assets"
import { generateSizesAndWidths } from "../../utils/image"
const { id, item, imgSrc, alt, carousel, prevId, nextId, checked } = Astro.props
---

<input
  type="radio"
  id={id}
  name="carousel"
  class="peer sr-only"
  checked={checked}
/>
<div class="hidden peer-checked:grid" id={item}>
  <Image
    src={imgSrc}
    alt={alt}
    loading={carousel === 1 ? "eager" : "lazy"}
    class="h-[30rem] max-h-[90vw] w-[30rem] max-w-[90vw] rounded-3xl object-cover object-center"
    {...generateSizesAndWidths(imgSrc.width, imgSrc.height, 480)}
  />
</div>
<label
  class={`absolute cursor-pointer bg-white dark:bg-black rounded-full w-10 h-10 p-[5px] top-1/2 left-2 hidden z-0 peer-checked:grid peer-checked:z-10`}
  for={prevId}><slot name="prevArrow" /></label
>
<label
  class={`absolute cursor-pointer bg-white dark:bg-black rounded-full w-10 h-10 p-[5px] top-1/2 right-2 hidden z-0 peer-checked:grid peer-checked:z-10`}
  for={nextId}><slot name="nextArrow" /></label
>
