---
import { getTranslations } from "../../i18n/utils"
import Languages from "./languages.astro"
import Projects from "./projects/index.astro"

const { lang } = Astro.props
const { heading } = getTranslations(lang)
---

<div class="flex flex-col gap-4">
  <h2 class="text-4xl font-bold">{heading.programming.title}</h2>
  <h3 class="text-3xl font-bold">{heading.programming.openSource.title}</h3>
  <ul class="list-inside list-disc">
    <li>
      {heading.programming.openSource.yamada.title}
      <ul class="mt-2 list-inside list-[circle] pl-6">
        <li>
          <a
            href="https://yamada-ui.com/community/team"
            target="_blank"
            rel="noopener noreferrer"
          >
            https://yamada-ui.com/community/team
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <Languages lang={lang} />
  <Projects lang={lang} />
</div>
