---
import { SEOMetadata } from "astro-seo-metadata"
import Footer from "../components/footer/index.astro"
import Header from "../components/header/index.astro"
import type { Locales } from "../i18n/ui"
import { getTranslations } from "../i18n/utils"

interface Props {
  title: string
  description: string
  lang: Locales
}

const { title, description, lang } = Astro.props
const { metadata } = getTranslations(lang)
const url = Astro.site
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#005A9C" />
    <SEOMetadata
      siteName={metadata.title}
      title={metadata.title}
      description={metadata.description}
      image={url + "header/opengraph-image.png"}
      favicon={url + "favicon.ico"}
      author="Shintaro Jokagi"
      astroSitemap={true}
      canonicalUrl={String(url)}
      type="website"
      astroGenerator={false}
    />
    <title>{title}</title>
  </head>
  <body
    class="reduce-motion:transition-none reduce-motion:animate-none m-0 flex min-h-svh flex-col items-center justify-between text-pretty break-words bg-white align-middle font-sans text-black has-[#close-drawer:checked]:overflow-hidden has-[#close-drawer:checked]:overscroll-contain dark:bg-zinc-900 dark:text-white"
  >
    <Header lang={lang} />
    <main
      class="z-0 flex w-[min(64rem,100%)] max-w-5xl flex-col gap-4 overflow-clip p-4 text-lg"
    >
      <slot />
    </main>
    <Footer lang={lang} />
  </body>
</html>
